$amber: #ffc107;
$amber-light: #ffecb3;
$light-blue: #03a9f4;
$gray: #9e9e9e;
$warning: #f44336;

// custom
main {
  margin: 2rem 2rem;
}
.title {
  color: $amber;
}
.subtitle {
  color: $light-blue;
  border-bottom: 1px solid $light-blue;
}
.warning {
  color: $warning;
}
.align-left {
  text-align: left;
}

// default
html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
footer {
  margin-top: 3rem;
  padding: 3rem 0;
  color: $gray;
  background-color: $amber-light;
}
