$amber: #ffc107;
$amber-light: #ffecb3;
$gray: #9e9e9e;

.title {
  color: $amber;
}

html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
footer {
  margin-top: 3rem;
  padding: 5rem 0;
  color: $gray;
  background-color: $amber-light;
}
